.App {
  text-align: center;
  font-family: sans-serif;
  background: plum;
}

.movie-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  grid-gap:1rem;
  gap:1rem;
  justify-items: center;
}

.movie-container{
  width:700px;
  border:1px solid ;
  border-radius: 20px;
}
.movie-container:hover{
  opacity: 10; 
  transform: translateY(1rem);

}

.movie-poster{
  height: 640px;
  width:440px;
  object-fit:cover;
}

.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-title{
  display: block;
  font-size:24px;
  margin:0;
}
.movie-rating{
  display:block;
}


